<div>
    <label>標題</label>
    <input type="text" name="title" value="<%= book.title %>">
</div>

<div>
    <label for="author">作者</label>
    <select name="author" id="author">
        <% authors.forEach(author=> { %>
            <% if(author.id === book.author){ %>
                <option selected label="<%= author.name %>" value="<%= author.id %>"></option>
            <% } else { %>
                <option label="<%= author.name %>" value="<%= author.id %>"></option>
            <% } %>
        <% }) %>
    </select>
</div>

<div>
    <label for="publishDate">出版日期</label>
    <input type="date" name="publishDate" value="<%= book.publishDate ? book.publishDate.toISOString().split('T')[0] : "" %>">
</div>

<div>
    <label for="pageCount">頁數</label>
    <input type="number" name="pageCount" id="pageCount" min="1" value="<%= book.pageCount ?  book.pageCount : '1'  %>">
</div>

<div>
    <label for="coverImageName">封面</label>
    <input type="file" name="coverImageName">
</div>

<div>
    <label for="description"></label>
    <textarea name="description" id="description" cols="30" rows="10"><%= book.description %></textarea>
</div>