<div class="book-search-wrap">
    <h2 class="title">書列表</h2>
    
    <form action="/books" method="get" class="book-search-form">
        <div>
            <label class="form-label">書籍名稱</label>
            <input 
                placeholder="請搜尋書名" 
                type="text"
                name="title" 
                value="<%= searchOptions.title %>"
                class="form-input"
            >
        </div>
        <div class="input-date-group">
            <div>
                <label class="form-label">出版日期起</label>
                <input class="form-input" type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">    
            </div>
            <div>
                <label class="form-label">出版日期訖</label>
                <input class="form-input" type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
            </div>
        </div>
        
        <button class="btn-main">搜尋</button>
    </form>
    
    <div class="book-search-list">
        <% books.forEach(book => { %>
             <div>
                <a href="/books/<%= book.id %>">
                    <img src="<%= book.coverImagePath %>">
                </a>                         
            </div>
        <% }) %>
    </div>
</div>



