

<div class="author-search-wrap">
    
    <h2 class="title">作者列表</h2>

    <form action="/authors" method="get" class="author-search-form">
        <label for="name" class="form-label">查詢作者</label>
        <input id="name" class="form-input" type="text" name="name" placeholder="請輸入作者名稱..." value="<%= searchValue %>">
        <button class="btn-main">搜尋</button>
    </form>
    
    <div class="author-search-list">
        <% authors.forEach(author => { %>
            <div class="author-search-row">
                <div class="search-row-name">
                    <%= author.name %>
                </div>

                <div class="btn-group">
                    <a href="/authors/<%= author.id %>">
                        <button class="btn-main" type="button">瀏覽</button>
                    </a>
                    <a href="/authors/<%= author.id %>/edit">
                        <button class="btn-main" type="button">編輯</button>
                    </a>
                    <!-- 刪除部分 -->
                    <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>
                </div>
            </div>
          
        <% }) %> 
    </div>
</div>
