<h2>搜尋作者</h2>

<form action="/authors" method="get">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" value="<%= searchValue %>">
    <button>Submit</button>
</form>

<% authors.forEach(author => { %>
    <div>
        <div><%= author.name %></div>
        <a href="/authors/<%= author.id %>">瀏覽</a>
        <a href="/authors/<%= author.id %>/edit">編輯</a>
        <!-- 刪除部分 -->
        <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>
    </div>
    
<% }) %> 