<h2 class="title"><%= author.name %></h2>

<div class="author-show-btn-group">
    <a href="/authors/<%= author.id %>/edit">
        <button class="btn-main" type="button">
            編輯
        </button>
    </a>
    <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>
</div>


<h1 class="form-label"><%= author.name %>的書籍</h1>
<div class="author-show-list">
    <% books.forEach(book =>{ %>
       <a href="/books/<%= book.id %>" class="remove-link-underline">
            <img src="<%= book.coverImagePath %>">
       </a>
    <% }) %>
</div>

